@model List<ServiceResultDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hizmet Ikon</th>
        <th>Hizmet Başlığı</th>
        <th>Hizmet Açıklaması</th>
        <th>Hizmeti Sil</th>
        <th>Hizmeti Güncelle</th>
    </tr>
  @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.ServiceIcon</td>
            <td>@item.Description</td>
            <td>@item.Title</td>
            <td><a href="/Service/DeleteService/@item.ServiceId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }         
       
    
</table>

<a href="/Service/AddService/" class="btn btn-info">Yeni Hizmet Girişi</a>

