<div class="footer">
    <div class="copyright">
        <p>
            @DateTime.Now.Year &copy; Tüm Hakları Saklıdır. <a href="http://localhost:37886/Default/Index/">Hotel7</a> </p>
    </div>
</div>