@model SendMessageAddDTO
@{
    ViewData["Title"] = "AddSendMessage";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

    <div class="compose-content mt-5">
        <form method="post">
            <div class="form-group">
                <input type="text" class="form-control bg-transparent" placeholder=" Alıcı Ad Soyad" asp-for="ReceiverName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control bg-transparent" placeholder=" Alıcı Mail" asp-for="ReceiverMail">
            </div>
            <div class="form-group">
                <input type="text" class="form-control bg-transparent" placeholder=" Konu" asp-for="Title">
            </div>
            <div class="form-group">
                <textarea class="textarea_editor form-control bg-light" rows="15" placeholder="Mesajınız" asp-for="Content"></textarea>
            </div>
            <div class="text-left m-t-15">
                <button class="btn btn-primary m-b-30 m-t-15 f-s-14 p-l-20 p-r-20 m-r-10"><i class="fa fa-paper-plane m-r-5"></i> Gönder</button>
                <button class="btn btn-dark m-b-30 m-t-15 f-s-14 p-l-20 p-r-20" asp-controller="AdminContact" asp-action="Inbox"><i class="ti-close m-r-5 f-s-12"></i> Vazgeç</button>
            </div>
        </form>
    </div>


