@model List<SendboxResultDTO>
@{
    ViewData["Title"] = "Sendbox";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="email-left-box">
    <a href="/AdminContact/AddSendMessage/" class="btn btn-primary btn-block">Yeni Mesaj Oluştur</a>
    <partial name="/Views/AdminContact/SideBarAdminContactPartial.cshtml" />
</div>
<div class="email-right-box">
    <div class="email-list m-t-15">
        @foreach (var item in Model)
        {
            <div class="message">
                <a href="/AdminContact/MessageDetailsSenboxRead/@item.SendMessageId">
                    <div class="col-mail col-mail-1">
                        <div class="email-checkbox">
                            <input type="checkbox" id="chk2">
                            <label class="toggle" for="chk2"></label>
                        </div><span class="star-toggle ti-star"></span>
                    </div>
                    <div class="col-mail col-mail-2">
                        <div class="subject"><b>Alıcı : </b>@item.ReceiverName <b>-</b> @item.Content.Substring(0,50)...
                        </div>
                        <div class="date">@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</div>
                    </div>
                </a>
            </div>
        }
    </div>
    <!-- panel -->
    <div class="row">
        <div class="col-7">
            <div class="text-center">1 - 20</div>
        </div>
        <div class="col-5">
            <div class="btn-group float-right">
                <button class="btn btn-gradient" type="button">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button class="btn btn-dark" type="button">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
