
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<vc:head></vc:head>
<body>
    <div class="container-xxl bg-white p-0">
        <vc:spinner></vc:spinner>
        <vc:navbar></vc:navbar>
        <vc:booking></vc:booking>   
        <partial name="/Views/Booking/AddBookingPartial.cshtml" />
        <partial name="/Views/Default/SubscribePartial.cshtml" />
        <vc:footer></vc:footer>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <vc:scripts></vc:scripts>
</body>

</html>